In [1]:
!pip install numpy pandas matplotlib torch torchmetrics

/usr/bin/pip:6: UserWarning: pkg_resources is deprecated as an API. See https://setuptools.pypa.io/en/latest/pkg_resources.html. The pkg_resources package is slated for removal as early as 2025-11-30. Refrain from using this package or pin to Setuptools<81.
  from pkg_resources import load_entry_point
Requirement already satisfied: numpy in /home/max/.local/lib/python3.9/site-packages (2.0.2)
Requirement already satisfied: pandas in /home/max/.local/lib/python3.9/site-packages (2.2.2)
Requirement already satisfied: matplotlib in /home/max/.local/lib/python3.9/site-packages (3.9.2)
Requirement already satisfied: torch in /home/max/.local/lib/python3.9/site-packages (2.8.0)
Collecting torchmetrics
  Downloading torchmetrics-1.8.2-py3-none-any.whl (983 kB)
     |████████████████████████████████| 983 kB 948 kB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.8.2 in /home/max/.local/lib/python3.9/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/max/.local/lib/python3.9/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/max/.local/lib/python3.9/site-packages (from pandas) (2024.1)
Requirement already satisfied: contourpy>=1.0.1 in /home/max/.local/lib/python3.9/site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /home/max/.local/lib/python3.9/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/max/.local/lib/python3.9/site-packages (from matplotlib) (4.55.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/max/.local/lib/python3.9/site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /home/max/.local/lib/python3.9/site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in /home/max/.local/lib/python3.9/site-packages (from matplotlib) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/lib/python3/dist-packages (from matplotlib) (2.4.6)
Requirement already satisfied: importlib-resources>=3.2.0; python_version < "3.10" in /home/max/.local/lib/python3.9/site-packages (from matplotlib) (6.4.5)
Requirement already satisfied: filelock in /home/max/.local/lib/python3.9/site-packages (from torch) (3.19.1)
Requirement already satisfied: typing-extensions>=4.10.0 in /home/max/.local/lib/python3.9/site-packages (from torch) (4.15.0)
Requirement already satisfied: sympy>=1.13.3 in /home/max/.local/lib/python3.9/site-packages (from torch) (1.14.0)
Requirement already satisfied: networkx in /home/max/.local/lib/python3.9/site-packages (from torch) (3.2.1)
Requirement already satisfied: jinja2 in /home/max/.local/lib/python3.9/site-packages (from torch) (3.1.6)
Requirement already satisfied: fsspec in /home/max/.local/lib/python3.9/site-packages (from torch) (2025.10.0)
Requirement already satisfied: nvidia-cuda-nvrtc-cu12==12.8.93; platform_system == "Linux" and platform_machine == "x86_64" in /home/max/.local/lib/python3.9/site-packages (from torch) (12.8.93)
Requirement already satisfied: nvidia-cuda-runtime-cu12==12.8.90; platform_system == "Linux" and platform_machine == "x86_64" in /home/max/.local/lib/python3.9/site-packages (from torch) (12.8.90)
Requirement already satisfied: nvidia-cuda-cupti-cu12==12.8.90; platform_system == "Linux" and platform_machine == "x86_64" in /home/max/.local/lib/python3.9/site-packages (from torch) (12.8.90)
Requirement already satisfied: nvidia-cudnn-cu12==9.10.2.21; platform_system == "Linux" and platform_machine == "x86_64" in /home/max/.local/lib/python3.9/site-packages (from torch) (9.10.2.21)
Requirement already satisfied: nvidia-cublas-cu12==12.8.4.1; platform_system == "Linux" and platform_machine == "x86_64" in /home/max/.local/lib/python3.9/site-packages (from torch) (12.8.4.1)
Requirement already satisfied: nvidia-cufft-cu12==11.3.3.83; platform_system == "Linux" and platform_machine == "x86_64" in /home/max/.local/lib/python3.9/site-packages (from torch) (11.3.3.83)
Requirement already satisfied: nvidia-curand-cu12==10.3.9.90; platform_system == "Linux" and platform_machine == "x86_64" in /home/max/.local/lib/python3.9/site-packages (from torch) (10.3.9.90)
Requirement already satisfied: nvidia-cusolver-cu12==11.7.3.90; platform_system == "Linux" and platform_machine == "x86_64" in /home/max/.local/lib/python3.9/site-packages (from torch) (11.7.3.90)
Requirement already satisfied: nvidia-cusparse-cu12==12.5.8.93; platform_system == "Linux" and platform_machine == "x86_64" in /home/max/.local/lib/python3.9/site-packages (from torch) (12.5.8.93)
Requirement already satisfied: nvidia-cusparselt-cu12==0.7.1; platform_system == "Linux" and platform_machine == "x86_64" in /home/max/.local/lib/python3.9/site-packages (from torch) (0.7.1)
Requirement already satisfied: nvidia-nccl-cu12==2.27.3; platform_system == "Linux" and platform_machine == "x86_64" in /home/max/.local/lib/python3.9/site-packages (from torch) (2.27.3)
Requirement already satisfied: nvidia-nvtx-cu12==12.8.90; platform_system == "Linux" and platform_machine == "x86_64" in /home/max/.local/lib/python3.9/site-packages (from torch) (12.8.90)
Requirement already satisfied: nvidia-nvjitlink-cu12==12.8.93; platform_system == "Linux" and platform_machine == "x86_64" in /home/max/.local/lib/python3.9/site-packages (from torch) (12.8.93)
Requirement already satisfied: nvidia-cufile-cu12==1.13.1.3; platform_system == "Linux" and platform_machine == "x86_64" in /home/max/.local/lib/python3.9/site-packages (from torch) (1.13.1.3)
Requirement already satisfied: triton==3.4.0; platform_system == "Linux" and platform_machine == "x86_64" in /home/max/.local/lib/python3.9/site-packages (from torch) (3.4.0)
Collecting lightning-utilities>=0.8.0
  Downloading lightning_utilities-0.15.2-py3-none-any.whl (29 kB)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.14.0)
Requirement already satisfied: zipp>=3.1.0; python_version < "3.10" in /home/max/.local/lib/python3.9/site-packages (from importlib-resources>=3.2.0; python_version < "3.10"->matplotlib) (3.23.0)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in /home/max/.local/lib/python3.9/site-packages (from sympy>=1.13.3->torch) (1.3.0)
Requirement already satisfied: MarkupSafe>=2.0 in /home/max/.local/lib/python3.9/site-packages (from jinja2->torch) (3.0.3)
Requirement already satisfied: setuptools>=40.8.0 in /home/max/.local/lib/python3.9/site-packages (from triton==3.4.0; platform_system == "Linux" and platform_machine == "x86_64"->torch) (80.9.0)
Requirement already satisfied: importlib-metadata; python_version < "3.10" in /home/max/.local/lib/python3.9/site-packages (from triton==3.4.0; platform_system == "Linux" and platform_machine == "x86_64"->torch) (8.7.0)
Installing collected packages: lightning-utilities, torchmetrics
Successfully installed lightning-utilities-0.15.2 torchmetrics-1.8.2

In [ ]:
# Minimal PyTorch CUDA availability check - fail fast if CUDA is unavailable
try:
    import torch
except Exception as e:
    raise RuntimeError(f"PyTorch is not installed or failed to import: {e}")

# Ensure CUDA is available - if not, raise an error because we rely on GPU
if not torch.cuda.is_available():
    raise RuntimeError("CUDA is not available. Please ensure an NVIDIA GPU, drivers, and CUDA are installed and that the CUDA toolkit is compatible with your PyTorch build.")

# Report devices
print('PyTorch version:', torch.__version__)
cnt = torch.cuda.device_count()
print('CUDA device count:', cnt)
for i in range(cnt):
    try:
        name = torch.cuda.get_device_name(i)
    except Exception:
        name = f'unknown-device-{i}'
    print(f'Device {i}:', name)

# Quick allocation test to confirm functional GPU access
try:
    _ = torch.zeros(1, device='cuda')
    print('Successfully allocated a tensor on CUDA.')
except Exception as e:
    raise RuntimeError('CUDA appears available but tensor allocation failed: ' + str(e))

PyTorch version: 2.8.0+cu128
CUDA device count: 1
Device 0: NVIDIA GeForce RTX 5080
Successfully allocated a tensor on CUDA.

In [2]:
import pandas as pd
from pathlib import Path

# Path to the small transactions CSV (relative to this notebook).
DATA_PATH = Path("dataset") / "HI-Small_Trans.csv"

# Load into a DataFrame
small_trans = pd.read_csv(DATA_PATH)

# Quick summary and preview
print(f"Loaded {len(small_trans)} rows; columns: {list(small_trans.columns)}")
small_trans.head()

Loaded 5078345 rows; columns: ['Timestamp', 'From Bank', 'Account', 'To Bank', 'Account.1', 'Amount Received', 'Receiving Currency', 'Amount Paid', 'Payment Currency', 'Payment Format', 'Is Laundering']

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/09/01 00:20,10,8000EBD30,10,8000EBD30,3697.34,US Dollar,3697.34,US Dollar,Reinvestment,0
1,2022/09/01 00:20,3208,8000F4580,1,8000F5340,0.01,US Dollar,0.01,US Dollar,Cheque,0
2,2022/09/01 00:00,3209,8000F4670,3209,8000F4670,14675.57,US Dollar,14675.57,US Dollar,Reinvestment,0
3,2022/09/01 00:02,12,8000F5030,12,8000F5030,2806.97,US Dollar,2806.97,US Dollar,Reinvestment,0
4,2022/09/01 00:06,10,8000F5200,10,8000F5200,36682.97,US Dollar,36682.97,US Dollar,Reinvestment,0

In [3]:
# Basic analysis: currencies, banks, and other summaries
# This cell is robust to different column names: it searches for currency-like and bank-like columns

# Show shape and a small sample
rows, cols = small_trans.shape
print(f"Data shape: {rows} rows x {cols} columns")
print()
print("Sample rows:")
display(small_trans.head())

# Missing values by column (top 10)
missing_by_col = small_trans.isnull().sum().sort_values(ascending=False).head(15)
print("Top missing values by column:")
print(missing_by_col.to_string())
print()

# Find likely currency column(s)
currency_candidates = [c for c in small_trans.columns if any(k in c.lower() for k in ('currency','ccy','curr'))]
if currency_candidates:
    cur_col = currency_candidates[0]
    num_currencies = small_trans[cur_col].nunique(dropna=True)
    top_currencies = small_trans[cur_col].value_counts().head(10)
    print(f"Found currency column: '{cur_col}' — {num_currencies} unique values")
    print("Top currencies (by count):")
    print(top_currencies.to_string())
else:
    cur_col = None
    print("No currency-like column found.")
    print("Columns:", list(small_trans.columns))

print()
# Find likely bank-related columns
bank_candidates = [c for c in small_trans.columns if any(k in c.lower() for k in ('bank','institution','bic','iban','bankid','bank_id','bankname','bank_name'))]
if bank_candidates:
    # Count unique bank identifiers across candidate columns
    unique_banks = set()
    for c in bank_candidates:
        unique_banks.update(small_trans[c].dropna().astype(str).unique())
    num_unique_banks = len(unique_banks)
    print(f"Found bank-like columns: {bank_candidates} — approx. {num_unique_banks} unique bank identifiers (aggregated)")
else:
    num_unique_banks = None
    print("No bank-like columns found.")

print()
# Other basic summaries: amount column candidates and top senders/receivers if available
amt_candidates = [c for c in small_trans.columns if any(k in c.lower() for k in ('amount','amt','value'))]
if amt_candidates:
    amt_col = amt_candidates[0]
    print(f"Found amount column: {amt_col} — summary:")
    print(small_trans[amt_col].describe())
else:
    print("No amount-like column found.")

# If sender/receiver columns exist, show top participants
party_candidates = [c for c in small_trans.columns if any(k in c.lower() for k in ('sender','receiver','originator','beneficiary','from_','to_','account'))]
if party_candidates:
    print()
    print("Top participants in party-like columns:")
    for c in party_candidates:
        print(f"Column: {c}")
# Final small sample
display(small_trans.sample(min(5, len(small_trans))))

Data shape: 5078345 rows x 11 columns

Sample rows:

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/09/01 00:20,10,8000EBD30,10,8000EBD30,3697.34,US Dollar,3697.34,US Dollar,Reinvestment,0
1,2022/09/01 00:20,3208,8000F4580,1,8000F5340,0.01,US Dollar,0.01,US Dollar,Cheque,0
2,2022/09/01 00:00,3209,8000F4670,3209,8000F4670,14675.57,US Dollar,14675.57,US Dollar,Reinvestment,0
3,2022/09/01 00:02,12,8000F5030,12,8000F5030,2806.97,US Dollar,2806.97,US Dollar,Reinvestment,0
4,2022/09/01 00:06,10,8000F5200,10,8000F5200,36682.97,US Dollar,36682.97,US Dollar,Reinvestment,0

Top missing values by column:
Timestamp             0
From Bank             0
Account               0
To Bank               0
Account.1             0
Amount Received       0
Receiving Currency    0
Amount Paid           0
Payment Currency      0
Payment Format        0
Is Laundering         0

Found currency column: 'Receiving Currency' — 15 unique values
Top currencies (by count):
Receiving Currency
US Dollar      1879341
Euro           1172017
Swiss Franc     237884
Yuan            206551
Shekel          194988
Rupee           192065
UK Pound        181255
Ruble           157361
Yen             156319
Bitcoin         148151

Found bank-like columns: ['From Bank', 'To Bank'] — approx. 30470 unique bank identifiers (aggregated)

Found amount column: Amount Received — summary:
count    5.078345e+06
mean     5.988726e+06
std      1.037183e+09
min      1.000000e-06
25%      1.833700e+02
50%      1.411010e+03
75%      1.234627e+04
max      1.046302e+12
Name: Amount Received, dtype: float64

Top participants in party-like columns:
Column: Account
Column: Account.1

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
748357,2022/09/01 13:27,21550,8017FBCC0,10614,805E16020,6123.06,US Dollar,6123.06,US Dollar,Cash,0
4064698,2022/09/08 16:01,1669,801306300,219077,80DED4990,910.97,Euro,910.97,Euro,Cheque,0
1494055,2022/09/02 11:41,7195,811684E20,5328,812BF9A70,2184.87,Euro,2184.87,Euro,Credit Card,0
1861945,2022/09/02 23:51,12513,801FEC970,6625,80749AD70,2352.19,Euro,2352.19,Euro,Cheque,0
1394658,2022/09/02 08:30,1420,80179FB70,22205,803F55160,64265.77,US Dollar,64265.77,US Dollar,ACH,0